
des/misc
des/.RData
des/.Rhistory
des/inventory/R/.RData
des/inventory/R/.Rhistory
des/simlib/.Rhistory
des/simlib/demo/.Rhistory
des/simlib/misc/

glmm/.RData
glmm/.Rhistory
glmm/misc

bandits/data/

RL/.RData
RL/.Rhistory
RL/misc/data/
RL/misc/gridworld/.Rhistory
RL/python/.ipynb_checkpoints/
RL/python/Sloppy.ipynb
