
des/misc
des/.RData
des/.Rhistory
des/inventory/R/.RData
des/inventory/R/.Rhistory
des/simlib/.Rhistory
des/simlib/demo/.Rhistory
des/simlib/misc/

glmm/.RData
glmm/.Rhistory
glmm/misc

rl/.RData
rl/.Rhistory
rl/misc/data/
